body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1f2937;
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header__link {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 18px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px;
    margin: auto;
    text-align: center;
}