body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1f2937;
    margin: 0;
    padding: 16px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    position: relative;
}

.header::before {
    content:"";
    background-color:#1f2937;
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1;
}

.header__logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header__link {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 16px;
}

.title {
    background-color: #1f2937;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.title::before {
    content:"";
    background-color:#1f2937;
    position: absolute;
    height: 100%;
    width: 200vw;
    left: -100vw;
    z-index: -1;
}

.main-text {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin: 48px 0 32px;
    width: 50%;
}

.sub-text {
    color: #e5e7eb;
    font-size: 18px;
    margin: 32px 0;
    width: 50%;
}

.b-sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    margin: 16px 0 48px;
    border-radius: 8px;
    padding: 8px 24px;
    border: none;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px;
    margin: auto;
    text-align: center;
}